<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>日報情報変更</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/ClientList/dailyreport">日報</a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">日報詳細</h5>
  			</div>
			<div class="card-body">
				<form th:action="@{/ClientList/dailyreport/{id}(id=*{id})}" th:method="put" th:object="${Dailyreport}">
				<!--  <div th:object="${Productlist}">-->
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">日付</label>
	          			<div class="col-md-5">
	            			<input class="form-control" type="date" name="dateandtime" th:value="*{dateandtime}" />
	            				<div class="text-danger" th:if="${#fields.hasErrors('dateandtime')}" th:errors="*{dateandtime}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">担当者</label>
	          			<div class="col-md-10">
	            			<input class="form-control" type="text" th:field="*{person_in_charge}" />
	            			<div class="text-danger" th:if="${#fields.hasErrors('person_in_charge')}" th:errors="*{person_in_charge}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">活動時間</label>
	          			<div class="col-md-10">
	            		 <select id="activitytime" class="form-create-control" name="activitytime">
  						<option selected="selected" class="msg">--選択してください--</option>
  						<option value="00:00">00:00</option>
  						<option value="01:00">01:00</option>
  						<option value="02:00">02:00</option>
  						<option value="03:00">03:00</option>
  						<option value="04:00">04:00</option>
  						<option value="05:00">05:00</option>
  						<option value="06:00">06:00</option>
  						<option value="07:00">07:00</option>
  						<option value="08:00">08:00</option>
  						<option value="09:00">09:00</option>
  						<option value="10:00">10:00</option>
  						<option value="11:00">11:00</option>
  						<option value="12:00">12:00</option>
  						<option value="13:00">13:00</option>
  						<option value="14:00">14:00</option>
  						<option value="15:00">15:00</option>
  						<option value="16:00">16:00</option>
  						<option value="17:00">17:00</option>
  						<option value="18:00">18:00</option>
  						<option value="19:00">19:00</option>
  						<option value="20:00">20:00</option>
  						<option value="21:00">21:00</option>
  						<option value="22:00">22:00</option>
  						<option value="23:00">23:00</option>
					 </select>
					 <span>～</span>
					 <select id="activitytime" class="form-create-control" name="activitytime">
  						<option selected="selected" class="msg">--選択してください--</option>
  						<option value="00:00">00:00</option>
  						<option value="01:00">01:00</option>
  						<option value="02:00">02:00</option>
  						<option value="03:00">03:00</option>
  						<option value="04:00">04:00</option>
  						<option value="05:00">05:00</option>
  						<option value="06:00">06:00</option>
  						<option value="07:00">07:00</option>
  						<option value="08:00">08:00</option>
  						<option value="09:00">09:00</option>
  						<option value="10:00">10:00</option>
  						<option value="11:00">11:00</option>
  						<option value="12:00">12:00</option>
  						<option value="13:00">13:00</option>
  						<option value="14:00">14:00</option>
  						<option value="15:00">15:00</option>
  						<option value="16:00">16:00</option>
  						<option value="17:00">17:00</option>
  						<option value="18:00">18:00</option>
  						<option value="19:00">19:00</option>
  						<option value="20:00">20:00</option>
  						<option value="21:00">21:00</option>
  						<option value="22:00">22:00</option>
  						<option value="23:00">23:00</option>
					 </select>
	            			<div class="text-danger" th:if="${#fields.hasErrors('activitytime')}" th:errors="*{activitytime}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">内容</label>
	          			<div class="col-md-10">
	            		<input class="form-control" type="text" name="activitycontent" th:value="*{activitycontent}" />
	            				<div class="text-danger" th:if="${#fields.hasErrors('activitycontent')}" th:errors="*{activitycontent}"></div>

	            			<div class="text-danger" th:if="${#fields.hasErrors('activitycontent')}" th:errors="*{activitycontent}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<div class="offset-md-2 col-md-9">
	            			<button class="btn btn-primary">更新</button>
	            		</div>
	          		</div>
	          		<!-- </div> -->
	          		</form>
	        	</div>

		</div>
	</div>
	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>