<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<!--  <link rel="stylesheet" href="/css/sidebar.css" />-->
	<title>日報</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/ClientList/dailyreport">日報</a>
			</div>
		</div>
		<form class="form-signin navbar-brand float-right" th:action="@{/logout}" method="post">
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログアウト</button>
   </form>
    </nav>
	<div class="container-fluid">
	<div class = "row">
	<div class="sidebar_fixed">
        <div class="row">
          <div class="col">
            <div class="pt-4 border text-center bg-secondary" style="line-height: 300%; padding-right: 50px; padding-left: 50px;">
              <a href="/ClientList" class="text-white h3">顧客管理</a><br>
              <a href="/ClientList/productlist" class="text-white h3">商品管理</a><br>
              <a href="/clientlist/dailyreport" class="text-white h3">日報</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">日報一覧<a href="/ClientList/dailyreport/dailyreport_new" class="btn btn-success float-right">新規</a></h5>
  			</div>
  			<div class="card-body" th:if="!${dailyreport.size()}">
     			<p>日報情報</p>
   			</div>

   			<div class="table-responsive">
   			<table class="table table-striped text-nowrap" th:if="${dailyreport.size()}">
     			<thead>
       				<tr>
         				<th style="width: 7%" class="text-nowrap">ID</th>
         				<th style="width: 10%" class="text-nowrap">日付</th>
         				<th style="width: 10%" class="text-nowrap">担当者</th>
         				<th style="width: 15%" class="text-nowrap">活動時間</th>
         				<th style="width: 30%" class="text-nowrap">内容</th>
       				</tr>
     			</thead>
     			<tbody>
       				<tr th:each="Dailyreport:${dailyreport}" th:object="${Dailyreport}">
         				<td th:text="*{id}"></td>
         				<td th:text="*{dateandtime}"></td>
         				<td th:text="*{person_in_charge}"></td>
         				<td th:text="*{activitytime}"></td>
         				 <td th:text="*{activitycontent}"></td>
         				 <td class="float-right text-nowrap">
	         				<form th:action="@{/ClientList/dailyreport/{id}(id=*{id})}" th:method="delete">
	         					<a class="btn btn-primary btn-xs" th:href="@{/ClientList/dailyreport/{id}(id=*{id})}">詳細</a>
	         					<a class="btn btn-primary btn-xs" th:href="@{/ClientList/dailyreport/{id}/dailyreport_edit(id=*{id})}">変更</a>
								<button class="btn btn-primary btn-x">削除</button>
							</form>
         				</td>
       				</tr>
     			</tbody>
   			</table>
		</div>
   			</div>
   			</div>
  		</div>
	</div>
 	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>